{%extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="">
    <div class=" ">

        <div class="" style="padding-left: 10rem; padding-right: 10rem;">


            <div class="mt-4" role="alert">
                <h2 class="text-center display-4"> <strong> Purches Page</strong></h2>
                <hr>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.management_form|crispy }}

                {% for form in formset %}
                <!-- {{form|crispy}} -->
                <label for="id_supplier">Supplier Name</label>
                {{ form.supplier }}
                <br>
                <label for="id_stock">Item Name</label>
                {{ form.stock }}
                <br>

                <label for="id_pur_quantity">Quantity</label>
                {{ form.pur_quantity }}
                {% endfor %}
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}